{% load static %}

<!DOCTYPE html>
<html>
<head>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<title>signup page</title>
<style>
.top{

	margin-top: 100px;
}
.col
{

 background-image: url("{% static 'images/pyt.jpg' %}");
  background-repeat: no-repeat;
}
</style>
</head>


<body class="col">
{% block content %}
<div>
<center>

	<h1 style="color:white;">Reference page</h1><br>
	<h2 style="color:white;">please signup here...once u signup ..u can login</h2><br/>
	

	<a href="/signup"><button type="button" name="">signup</button></a>

	<a href="/login"><button type="button" name="">login</button></a>


</center>

</div>
{% endblock %}
</body>
</html>