
{% extends "firstpage.html" %}
{% load static %}
{% block content %}
<div class="top">

<center>
	<div>
			<div style="color: white;">
				firstname:<input type="text" name="firstname"><br/><br/>
			</div>

			<div style="color: white;">
			lastname:<input type="text" name="lastname"><br/><br/>
			</div>

			<div style="color: white;">
				email:<input type="text" name="firstname"><br/><br/>
			</div>

			<div style="color: white;">
			password: <input type="password" name="password"><br/><br/>
			</div>

			<div  style="color: white;">
			confirm password:<input type="password" name="confirmpassword"><br/><br/>
					phn no: <input type="number" name="phnno"><br/><br/>
			</div>

				<input type="button" name="register" value="Register">

				<a href="/"><input type="button" name="register" value="Back"></a>


	</div>
</center>
</div>
{% endblock %}



 