
{% extends "firstpage.html" %}
{% load static %}
{% block content %}
<div class="top">

<center>
	<div>
firstname:<input type="text" name="firstname"><br/><br/>
lastname:		 <input type="text" name="lastname"><br/><br/>
password:		  <input type="password" name="password"><br/><br/>
confirm password	  	  <input type="password" name="confirmpassword"><br/><br/>
		phn no:  	  	  <input type="number" name="phnno"><br/><br/>


		<input type="button" name="register" value="Register">




	</div>
</center>
</div>
{% endblock %}



 